.idea/
.pytest_cache/
.build/
.dist/
.tokima.egg-info/
tokima-*
tokima.egg-info/SOURCES.txt
dist/tokima-0.0.1.tar.gz
.DS_Store
dist/tokima-0.0.1.tar.gz
tokima.egg-info/SOURCES.txt
tokima.egg-info/PKG-INFO
tokima.egg-info/top_level.txt
tokima.egg-info/dependency_links.txt
